* {
    bg-col:  #161616;
    bg-col-light: #282a36;
    border-col: #73b8f1;
    selected-col: #bd93f9;
    blue: #bd93f9;
    fg-col: #f8f8f2;
    fg-col2: #ffffff;
    grey: #6272a4;
    width: 600;
}
